.header {
    flex: 0 0 20rem;
    max-width: 20rem;
}

.title {
    color: #142b3d;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin: 0;
    padding: var(--global-padding) 0;
    text-align: center;
    font-weight: 400;
}

.title span {
    display: block;
    font-size: 0.5em;
}

.featureImageAndLinks {
    background-color: #fff;
    padding: var(--global-padding);
    display: flex;
    flex-direction: column;
    gap: var(--global-padding);
}

.headshot {
    max-width: 100%;
    height: auto;
}

.spacer {
    border-top: 2px solid #307991;
}

.externalLinkList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    gap: 1rem;
    margin: 0;
}

.externalLink {
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
    justify-content: center;
    transition: filter 0.1s ease-in-out;
}

.externalLink:hover, .externalLink:focus {
    filter: drop-shadow(0 0 0.1rem #000);
}

.externalLinkSVGIcon {
    height: 1.25rem;
    width: auto;
}

.cta {
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: #231942;
    color: #ffffff;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--abel);
    font-size: 1.125rem;
    letter-spacing: 0.1em;
}

.cta:hover, .cta:focus {
    filter: drop-shadow(0 0 0.1rem #000);
}
