.divider {
    margin: var(--global-padding) 0;
    border-bottom: 0;
}

.heading {
    margin: 0;
}

.quoteContainer {
    display: flex;
    max-width: calc(55rem - (var(--global-padding)*3));
    margin: 0 auto;
    flex-direction: column;
}

.quoteBlocks {
    position: relative;
    margin-top: var(--global-padding);
    outline: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    touch-action: pan-y;
    user-select: none;
    transition: height 0.2s ease-in-out;
}

.quoteBlock {
    background-color: #ffffff;
    padding: var(--global-padding);
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--global-padding);
    margin: 0;
}

.quoteBlockContainer {
    display: block;
    align-self: flex-start;
}

.quoteBlockContainer:nth-child(n+2) {
    display: none;
}

.quoteBlocksLoaded .quoteBlockContainer:nth-child(n+2) {
    display: block;
}

.quote {
    margin: 0;
}

.caption {
    display: flex;
    align-items: center;
    gap: var(--global-padding);
}

.starAndName {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.rating {
    display: flex;
    padding-top: 0.25rem;
}

.rating svg {
    width: 1rem;
    height: auto;
}

.skeletonBox {
    display: block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;
    padding: 0;
}

.skeletonImage {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
