:root {
    --global-padding: 1.5625rem;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
        scroll-behavior: auto;
    }

    *:not(.animates-without-motion),
    *:not(.animates-without-motion)::before,
    *:not(.animates-without-motion)::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--marcellus);
    text-rendering: optimizeLegibility;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: #eee url('../public/struckaxiom.png') repeat fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--abel);
    margin: 0;
}

a {
    color: inherit;
}

p {
    line-height: 1.45em;
    margin: 0;
}

p + p {
    padding-top: 1.3rem;
}

.visually-hidden, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    gap: var(--global-padding);
    padding: 0;
    width: 75rem;
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 37.5rem) {
    .layout {
        padding: var(--global-padding);
    }
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    width: 100%;
    outline: none;
    transition: height 0.2s ease-in-out;
}

.flickity-viewport .flickity-slider {
    height: 100%;
    width: 100%;
    outline: none;
}

.flickity-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(232,232,232,0.5);
    transition: background-color 0.2s ease;
    outline: none;
}

.flickity-button:hover, .flickity-button:focus {
    background-color: rgba(232,232,232,1);
}

.flickity-button svg {
    width: 75%;
}

.flickity-button.next {
    right: -1.625rem;
}

.flickity-button.previous {
    left: -1.625rem;
}


